<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title></title>
    <style>
        
    </style>
    <script>
        
    </script>
</head>
<body>
    <form method="post" action="{% url 'recommend_insurance' %}">
  {% csrf_token %}
  <h3>보험 조건 선택</h3>
  <label>특약 선택:</label><br>
  <input type="checkbox" name="coverage_options" value="법률비용 지원"> 법률비용 지원<br>
  <input type="checkbox" name="coverage_options" value="마일리지 할인"> 마일리지 할인<br>
  <button type="submit">보험료 추천받기</button>
</form>

</body>
</html>