<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{url_for('static', filename='flask.png')}}" rel="icon">
  <link href="{{url_for('static', filename='file.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
  <h2>JOIN INFO(GET)</h2>
  <form action="/join" method="get">
    <p>이 름 <input type="text" name="name"></p>
    <p>아 뒤 <input type="text" name="id"></p>
    <p>비 번 <input type="password" name="pw"></p>
    <p>주 소 <input type="text" name="addr"></p>
    <p><input type="submit" value="가입"></p>
  </form>
</body>
</html>